$timeline-item-padding-bottom: 1em;
$speed-slow: 150ms;
$navbar-height: 5rem;
$navbar-item-img-max-height: 3.5rem;
$easing: ease-out;
$primary: #03a9f4;
$primary-light: #81d4fa;
$link: #4a4a4a;
$link-invert: $primary;
$navbar-item-color: #7a7a7a;
$pagination-color: #4a4a4a;
$pagination-current-background-color: hsl(0, 0, 96%);
$pagination-current-color: #4a4a4a;
$pagination-current-border-color: hsl(0, 0%, 86%);

@import '~bulma';
@import '~bulma-timeline';

.tag {
  height: 20px !important;
}

.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: opacity $speed-slow $easing;
  .animation-content,
  .animation-content {
    transition: transform $speed-slow $easing;
  }
}
.zoom-in-enter,
.zoom-in-leave-active {
  opacity: 0;
  .animation-content,
  .animation-content {
    transform: scale(0.95);
  }
}

.columns {
  display: flex;
}
