$speed-slow: 150ms;
$navbar-height: 5rem;
$navbar-item-img-max-height: 3.5rem;
$easing: ease-out;
$primary: #03a9f4;
$primary-light: #81d4fa;
$text: hsl(0, 0%, 29%);
$text-invert: whitesmoke;
$scheme-main: hsl(0, 0%, 100%);
$scheme-invert: hsl(0, 0%, 4%);
$timeline-item-padding-bottom: 1em;
$dark: #464646;
$timeline-line-color-black: $dark;
$timeline-line-color-white: hsl(0, 0%, 86%);
$timeline-marker-color: var(--timeline-line);
$timeline-line-color: var(--timeline-line);
$navbar-background-color: var(--navbar-background);
$footer-background-color: var(--navbar-background);
$navbar-background-color-black: #181818;
$navbar-background-color-white: hsl(0, 0%, 98%);
$card-background-color: var(--navbar-background);
$link: $primary;
$link-invert: $primary;
$navbar-item-color: #7a7a7a;
$pagination-color: var(--text-color);
$pagination-current-background-color-black: rgba(70, 70, 70, 1);
$pagination-current-background-color-white: rgba(70, 70, 70, .1);
$pagination-current-background-color: var(--pagination-current-background);
$pagination-disabled-background-color: var(--background-color);
$pagination-current-color: var(--text-color);
$pagination-current-border-color: transparent;
$pagination-disabled-border-color: transparent;
$pagination-active-border-color: transparent;
$pagination-focus-border-col: transparent;
$pagination-hover-border-color: transparent;
$pagination-border-color: transparent;

@import '~bulma';
@import '~bulma-timeline';

.tag {
  height: 20px !important;
}

.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: opacity $speed-slow $easing;
  .animation-content,
  .animation-content {
    transition: transform $speed-slow $easing;
  }
}
.zoom-in-enter,
.zoom-in-leave-active {
  opacity: 0;
  .animation-content,
  .animation-content {
    transform: scale(0.95);
  }
}

:export {
  text: $text;
  textInvert: $text-invert;
  schemeMain: $scheme-main;
  schemeInvert: $scheme-invert;
  timelineLineColorWhite: $timeline-line-color-white;
  timelineLineColorBlack: $timeline-line-color-black;
  navbarBackgroundColorWhite: $navbar-background-color-white;
  navbarBackgroundColorBlack: $navbar-background-color-black;
  paginationCurrentBackgroundColorWhite: $pagination-current-background-color-white;
  paginationCurrentBackgroundColorBlack: $pagination-current-background-color-black;
}
