//$primary: red;
$link: #ff9900;
$footer-background-color: #2c2f34;
//$link-hover: $primary;
//$timeline-marker-size: 12px;
//$timeline-marker-icon-size: 24px;
//$timeline-marker-border-size: 1px;
//$timeline-line-width: 1px;
//$timeline-line-style: solid;
//$timeline-content-padding: 1em 0 0 2em;
//$timeline-rtl-content-padding: 1em 2em 0 0;
//$timeline-icon-size: .75rem;
//$timeline-header-width: 4em;
//$timeline-item-padding-left: $timeline-header-width / 2;
$timeline-item-padding-bottom: 1em;
$speed-slow: 150ms;
$easing: ease-out;

@import '~bulma';
@import '~bulma-timeline';

.zoom-in-enter-active,
.zoom-in-leave-active {
  transition: opacity  $speed-slow $easing;
  .animation-content,
  .animation-content {
    transition: transform $speed-slow $easing;
  }
}
.zoom-in-enter,
.zoom-in-leave-active {
  opacity: 0;
  .animation-content,
  .animation-content {
    transform: scale(0.95);
  }
}
