/* purgecss start ignore */

body {
  overflow-x: hidden;
}

.markdown {
  white-space: pre-wrap;
  margin-bottom: -1rem !important;
}

.reverse {
  flex-direction: row-reverse;
}

.icon-hover {
  opacity: 0.6;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 1 !important;
  }
}

.modal-image {
  margin-left: 0 !important;
  margin-right: 4rem !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.image-centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.is-marginless-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.title,
.heading,
.mdi,
.subtitle,
h1,
h2,
p,
a:hover,
time,
strong {
  color: var(--text-color) !important;
}

.plyr--audio .plyr__controls {
  background-color: var(--background-color) !important;
}

.subtitle, a {
  opacity: 0.8;
}

.nav-item {
  margin-top: 1em;
  margin-bottom: 1em;
  transition: background 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: rgba(50%, 50%, 50%, 0.07) !important;
  }

  &-selected {
    background-color: rgba(50%, 50%, 50%, 0.05);
  }

  &-selected,
  &:hover {
    .nav-item-image {
      opacity: 0.8 !important;
    }

    .nav-item-title {
      color: var(--text-color) !important;
    }
  }

  &-title {
    color: #7a7a7a;
    transition: color 0.3s linear;
  }

  &-image {
    min-height: 48px;
    margin-left: 0.75em;
    opacity: 0.6;
    transition: opacity 0.3s linear;
  }
}

.hover {
  &-dark,
  &-light {
    transition: box-shadow 0.3s;
  }

  &-dark:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.03) !important;
  }

  &-light:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.03) !important;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

/* purgecss end ignore */
